<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackit Application</title>
    <style>
        footer {
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
            padding: 20px;
            clear: both;
            margin-top: auto;
            /* ensures it goes below floated/flex content */
        }
    </style>
</head>

<body>
    <footer>

        <ul>Quick Links:
            <li>Features</li>

            <li>Pricing</li>

            <li>Blog</li>

            <li>Contact</li>
        </ul>

        Contact <p>&copy; 2024 TrackIt. All rights reserved.</p>
    </footer>

</body>

</html>