<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackIt Application</title>
    <style>
        .right-section {
            display: flex;
            flex-direction: column;
        }

        th,
        td {
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
            white-space: nowrap;
        }

        tr:nth-child(even) {
            background-color: #ccc;
        }
    </style>
</head>

<body>
    <div class="profile-container">
        <%- include ('partials/sidebar') %>
            <div class="right-section">
                <%- include ('partials/header') %>
                    <div class="content-section">
                        <table id="expense-table">
                            <thead>
                                <tr>
                                    <th>Created At</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Category</th>
                                    <th>Mode</th>
                                    <th>Budget</th>
                                    <th>Type</th>
                                    <th>Updated At</th>
                                </tr>
                            </thead>
                            <tbody id="expense-table-display">
                                <tr>
                                    <td colspan="8"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
    </div>
    <script>
        async function loadExpenses() {
            const data = document.getElementById("expense-table-display");
            data.innerHTML = '<tr><td colspan="8"> Loading data ...</td></tr>';
            try {
                const response = await fetch("http://localhost:8081/trackit-expense-service/api/v2/getExpenses");
                if (!response.ok) {
                    data.innerHTML = '<tr><td colspan="8"> Error fetching data </td></tr>';
                    return;
                }
                const expenses = await response.json();
                displayExpenses(expenses);
            } catch (error) {
                data.innerHTML = '<tr><td colspan="8"> Error fetching data </td></tr>';
            }
        }

        function displayExpenses(expenses) {
            const tbody = document.getElementById("expense-table-display");
            tbody.innerHTML = "";
            try {
                if (expenses.length === 0) {
                    tbody.innerHTML = '<tr><td colspan = "8"> No data available. </td></tr>';
                }
                expenses.forEach(expense => {
                    const row = document.createElement('tr');
                    row.innerHTML = `<td>${expense.createdAt}</td>
                     <td>${expense.description}</td>
                     <td>${expense.amount}</td>
                     <td>${expense.category}</td>
                     <td>${expense.mode}</td>
                     <td>${expense.budget}</td>
                     <td>${expense.type}</td>
                     <td>${expense.updatedAt}</td>`;
                    tbody.appendChild(row);
                });
            } catch (error) {
                tbody.innerHTML = '<tr><td colspan = "8"> Error </td></tr>';
            }
        }
        document.addEventListener('DOMContentLoaded', loadExpenses);
    </script>

    <%- include ('partials/footer') %>


</body>

</html>